<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加问卷</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
</head>
<body>
<div class="col-sm-2"></div>
<div class="col-sm-8">
    <div class="panel panel-default" style="margin-top: 50px;">
        <div class="panel-heading">
            <button class="btn btn-primary" id="single">添加单选框</button>&nbsp&nbsp
            <button class="btn btn-primary" id="several">添加多选框</button>&nbsp&nbsp
            <button class="btn btn-primary" id="singleText">添加单行文本框</button>&nbsp&nbsp
            <button class="btn btn-primary" id="severalText">添加多行文本框</button>&nbsp&nbsp
        </div>
        <div class="panel-body">


        </div>
        <div class="panel-footer right"><button class="btn btn-primary" id="submit">创建问卷</button></div>
    </div>
</div>
<div class="col-sm-2"></div>

<script src="/static/js/jquery.js"></script>
<script src="/static/js/formAdd.js"></script>
</body>
</html>