<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>问卷调查系统</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
</head>
<body>
<div class="navbar navbar-default">
    <div class="navbar-header">
        <div class="navbar-brand">&nbsp问卷调查网</div>
    </div>
</div>
<div class="col-sm-2">
    <div class="list-group sidebar" style="margin-top: 10px;">
        <button class="btn btn-block btn-primary sidebar-item" id="index">首页</button>
        <a href="formAdd" class="btn btn-block btn-primary sidebar-item">添加问卷</a>
        <button class="btn btn-block btn-primary sidebar-item" id="modify">修改密码</button>
        <button class="btn btn-block btn-primary sidebar-item" id="loginOut">注销</button>
    </div>
</div>
<div class="col-sm-8">
    <div class="panel panel-default index-panel" style="margin-top: 10PX;">
        <div class="panel-heading">
            问卷列表&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="formAdd" class="btn btn-primary">添加问卷</a>
        </div>
        <div class="panel-body">
            <table class="table table-hover ">
                <thead>
                <tr>
                    <th>问卷名称</th>
                    <th>创建时间</th>
                    <th>用户完成数</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name='data' id='vo'}
                <tr>
                    <th>{$vo['name']}</th>
                    <th>{$vo['create_time']|date='Y-m-d H:i'}</th>
                    <th>{$vo['users']|count}</th>
                    <th><a href="detail/id/{$vo['Id']}" class="btn btn-primary">查看结果</a>&nbsp<a href="delete/id/{$vo['Id']}" class="btn btn-primary">删除问卷</a></th>
                </tr>
                {/volist}
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel modify-panel" style="display: none;margin-top: 10px;">
        <form class="form-group" id="modify-form" style="max-width: 600px;">
            <label>请输入密码</label><br>
            <input name="password" type="password" class="form-control" placeholder="请输入密码" id="password"><br>
            <label>请确认密码</label><br>
            <input name="confirm" type="password" class="form-control" placeholder="请输入确认密码" id="confirm"><br>
            <button class="btn btn-primary btn-block" id="modify-btn">修改密码</button>
        </form>
    </div>
</div>

    <div class="col-md-2"></div>

<script src="/static/js/jquery.js"></script>
<script src="/static/lib/layer/layer.js"></script>
<script>
    $(function () {
        $("#modify").click(function (e) {
            e.preventDefault();
            $(".panel").slideUp();
            $(".modify-panel").slideDown();
        });

        $("#index").click(function (e) {
            e.preventDefault();
            $(".panel").slideUp();
            $(".index-panel").slideDown();
        });

        $("#loginOut").click(function (e) {
            e.preventDefault();
            $.ajax({
                url:'loginOut',
                type: 'post',
                success:function (data) {
                    if (data.code==1){
                        layer.msg(data.msg,{
                            icon:6,
                            time:1500
                        },function () {
                            location.href = data.url;
                        });
                    } else{
                        layer.open({
                            title:'注销失败',
                            content:data.msg,
                            icon:5,
                            anim:6
                        });
                    }
                }
            });
        });

        $("#modify-btn").click(function (e) {
            e.preventDefault();
            if (!$("#password").val()){layer.open({title:'密码不能为空!',icon:5,anim:6});return false;}
            if($("#password").val()!=$("#confirm").val()){
                layer.open({
                    title:'修改密码失败',
                    content:'两次输入密码不一致！！',
                    icon:5,
                    anim:6
                });
                return false;
            }
            $.ajax({
                url:'passwordModify',
                type:'post',
                data:$("#modify-form").serialize(),
                dataType:'json',
                success:function (data) {
                    if (data.code==1){
                        layer.msg(data.msg,{
                            icon:6,
                            time:1500
                        },function () {
                            location.reload();
                        });
                    } else{
                        layer.open({
                            title:'修改密码失败',
                            content:data.msg,
                            icon:5,
                            anim:6
                        });
                    }
                }
            });
        });
    });
</script>

</body>
</html>